<div class="container">

    <ul class="nav">
        <div class="card-body">
            <h1 class="text-center">Lista de Productos</h1>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Paginas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/realtimeproducts">Real Time Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
        </li>
    </ul>

    <br>

    <div class="card">
        <input type="hidden" value="cart-id">
        <div class="card-header">
            Carrito de "usuario"
        </div>
        <ul id="products-list">
            <li class="list-group-item">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Titulo del producto</h5>
                            </div>
                            <div class="col text-center">
                                <form>
                                    <button type="button" class="btn btn-outline-danger">-</button>
                                    <label for="quatity" class="form-label card-body">1</label>
                                    <button type="button" class="btn btn-outline-success">+</button>
                                </form>
                            </div>
                            <div class="col text-end">
                                $ 999999.99
                            </div>
                        </div>
                        <div class="card-footer text-body-secondary">
                            estado del producto
                        </div>
                    </div>
            </li>
        </ul>
    </div>

</div>