<div class="container">

    <br>

    <div id="new-user">
    </div>

    <div id="notif-container" class="toast-container end-0">
    </div>

    <div class="container-fluid">

        <div id="login" class="card-header">
            {{#if isLoggedUser}}
            <input type="hidden" name="loggedUsername" id="loggedUsername" value="{{userSession.username}}">
            <div class="card">
                <div id="user-logged" class="card-body">
                    Logueado como {{userSession.username}}.
                    <a id="cart-link" class="btn btn-outline-secondary btn-sm justify-content-md-end">Ver
                        carrito</a>
                    <button id="logout-btn" type="button" class="btn btn-primary">
                        Logout
                    </button>
                </div>
            </div>
            {{/if}}
        </div>

        <div id="chat-box">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status"></div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Escribi tu mensaje
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" name="messageText" id="messageText" required>
                    <input type="submit" id="send-button" class="btn btn-primary btn-sm" value="Enviar">
                </div>
            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>