<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">ERROR</h4>
        <p>{{status}}</p>
        <hr>
        <p class="mb-0">{{message}}</p>
        <a href="http://localhost:8080/api/products/home" class="card-link">Ir al home</a>
    </div>
</div>