<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Lista de Productos</h1>
    </div>
  </div>

  <br>
  <div class="card">
    <div class="card-header">
      codigo del producto
    </div>
    <div class="card-body">
      <h5 class="card-title">Titulo del producto</h5>
      <p class="card-text">Descripcion breve del producto que cuente lo que es y lo que incluye.</p>
      <p class="blockquote-footer">Stock: stock | Precio: $price </p>

      <div>
        <input type="number" name="quantity" id="">
        <a href="#" class="btn btn-primary">Agregar al carrito</a>
      </div>

      <div>
        <img src="../public/cara-de-placer-meme.png" class="rounded float-end" alt="cara-de-placer-meme">
      </div>
    </div>
    
    <div class="card-footer text-body-secondary">
      Ultima vez actualizado: dd/mm/aaaa
    </div>
  </div>
</div>