<h1>Lista de Productos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">price</th>
      <th scope="col">thumbnails</th>
      <th scope="col">code</th>
      <th scope="col">stock</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <th scope="col">123</th>
      <th scope="col">producto prueba</th>
      <th scope="col">Este es un producto prueba</th>
      <th scope="col">11111111</th>
      <th scope="col">Sin imagen</th>
      <th scope="col">$aabbcc112233</th>
      <th scope="col">99999999</th>
      <th scope="col">true</th>
    </tr>
  </tbody>
</table>