<div class="container">
    <ul class="nav">
        <div class="card-body">
            <h1>Detalle del producto</h1>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products?limit=4&page=1">Paginas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/realtimeproducts">Real Time Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
        </li>
    </ul>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <img src="/img/cara-de-placer-meme.png" class="card-img-top w-auto" alt=""
                        style="max-height: 300px; margin: auto;">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Titulo del producto</h5>
                        <h3 class="card-title">$ 999999,99</h3>
                        <p class="card-text">Stock 99</p>
                        <p class="text-success">Disponible</p>
                        <form id="add-cart" class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Descripcion
            </div>
            <div class="card-body">
                <p class="card-text">Descripcion extendida del producto.</p>
            </div>
        </div>
    </div>
</div>