<div class="container">

    <ul class="nav">
        <div class="card-body">
            <h1 class="text-center">Lista de Productos</h1>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Paginas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/realtimeproducts">Real Time Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
        </li>
    </ul>

    <br>

    <div class="container-fluid" id="products-container">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="paginate">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a id="prev-page" class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a id="next-page" class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<script src="/js/products-paginate.js"></script>