<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Real time products</h1>
        </div>
    </div>

    <br>

    <div class="container-fluid" id="products-list">
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/create-product.js"></script>