<div class="container">

    <br>

    <div id="create-result"></div>
    
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">Tu Nombre</label>
            <input type="text" name="firstName" id="firstName" class="form-control">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Tu Apellido</label>
            <input type="text" name="lastName" id="lastName" class="form-control">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>

    <div id="spinner"></div>
</div>

<script src="/js/user-register.js"></script>